$font-primary: 'Outfit'
$color-light-gray: hsl(212, 45%, 89%)
$color-white: hsl(0, 0%, 100%)
$color-dark-blue: hsl(218, 44%, 22%)
$color-grayish-blue: hsl(220, 15%, 55%)

.container
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh
  background-color: $color-light-gray

.card
  background-color: $color-white
  font-family: $font-primary, sans-serif
  font-weight: 400
  padding: 15px
  border-radius: 20px
  box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.1)
  max-width: 19rem

.card__img
  border-radius: 10px
  max-width: 17rem

.card__title, .card__content
  margin-top: 20px
  text-align: center

.card__title
  color: $color-dark-blue
  font-size: 1.25rem
  line-height: 1.75rem
  font-weight: 700
  padding-left: 5px
  padding-right: 5px

  @media screen and (min-width: 640px)
    .card__title
      padding-left: 8px
      padding-right: 8px

.card__content
  font-size: 0.9rem
  line-height: 1.15rem
  color: $color-grayish-blue
  margin-top: 15px
  padding-left: 10px
  padding-right: 10px
  padding-bottom: 25px
